<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electro - Best Electronic Store</title>
    <link rel="stylesheet" href="/public/styles/main.css" />
  </head>
  <body>
    Top Bar
    <div class="top-bar">
      <a href="#" class="breadcrumb"
        >The best choice is <span style="color: #e8aa00">TECHNOSHOP</span>
      </a>
      <div class="top-bar-right">
        <img
          width="40"
          height="40"
          src="https://img.icons8.com/ios/40/FAB005/ringer-volume.png"
          alt="ringer-volume"
        />
        <a href="tel:+998943166200">Free Call: +998 94 316 62 00</a>
        <img
          width="40"
          height="40"
          src="https://img.icons8.com/emoji/50/shopping-cart-emoji.png"
          alt="shopping-cart-emoji"
        />
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>

    <!-- Header -->
    <header class="header">
      <div class="logo">
        <h1>TECHNO <span style="color: #fbc531">SHOP</span></h1>
        <p>Best Electronic Store</p>
      </div>
      <nav class="nav">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#shop">Shop</a>
        <a href="#category">Categories</a>
        <a href="#product">Products</a>
        <a href="#contact">Contact Us</a>
      </nav>
      <div class="search-bar">
        <input type="text" placeholder="Search..." />
        <button>Search</button>
      </div>
    </header>

    <!-- Main Content -->
    <main>
      <!-- Category Section -->
      <section class="categories">
        <div class="category-item">
          <img src="/public/images/jostik.jpeg" alt="Jostic" />
          <span>Jostics</span>
        </div>
        <div class="category-item">
          <img src="/public/images/television.jpeg" alt="Televisions" />
          <span>Televisions</span>
        </div>
        <div class="category-item">
          <img src="/public/images/speaker.jpg" alt="Speakers" />
          <span>Speakers</span>
        </div>
        <div class="category-item">
          <img src="/public/images/airpods.jpg" alt="Cameras" />
          <span>Airpods</span>
        </div>
        <div class="category-item">
          <img src="/public/images/phone.png" alt="Phones" />
          <span>Phones</span>
        </div>
        <div class="category-item">
          <img src="/public/images/computer.webp" alt="Laptops" />
          <span>Laptops</span>
        </div>
      </section>

      <!-- Sale Banner -->
      <section class="sale-banner">
        <span
          ><img
            class="anounce"
            src="/public/images/reklama.jpeg"
            alt="Anouncement"
        /></span>
        <div class="banner-text">
          <h2>GET 15% SALE ON</h2>
          <p>You can buy anything on discount prices</p>
          <span class="price">$799.99 <del>$999.00</del></span>
        </div>

        <img
          class="anouncer-svg"
          src="/public/images/anounce svg.webp"
          alt="Anounce svg"
        />
      </section>

      <!-- ABOUT SECTION -->

      <div class="heading-container" id="about">
        <h2 class="heading">About</h2>
        <div class="line"></div>
      </div>

      <section class="product-section">
        <div class="categories-list">
          <div class="category">
            <h3>Cameras</h3>
            <ul>
              <li>Backup camera</li>
              <li>Digital Camera</li>
              <li>IP camera</li>
              <li>Movie camera</li>
            </ul>
          </div>
          <div class="category">
            <h3>Phones</h3>
            <ul>
              <li>Basic Phones</li>
              <li>Feature Phones</li>
              <li>Smart Phones</li>
            </ul>
          </div>
          <div class="category">
            <h3>TV & Speaker</h3>
            <ul>
              <li>Home Theatre Systems</li>
              <li>Party Speakers</li>
              <li>Televisions</li>
              <li>TV & Audio Accessories</li>
            </ul>
          </div>
          <div class="category">
            <h3>Smart Devices</h3>
            <ul>
              <li>Digital Watches</li>
              <li>Smart Cameras</li>
              <li>Smart Phones</li>
              <li>Speakers</li>
            </ul>
          </div>
          <div class="category">
            <h3>Laptop</h3>
            <ul>
              <li>Convertible Laptops</li>
              <li>MacBook</li>
              <li>Personal Computers</li>
              <li>Ultraportable Laptops</li>
            </ul>
          </div>
          <div class="category">
            <h3>Chargers & Cables</h3>
            <ul>
              <li>Adapter Plug</li>
              <li>Battery Chargers</li>
              <li>USB Type Cable</li>
              <li>USB-C Charger</li>
            </ul>
          </div>
        </div>

        <div class="best-selling">
          <h3>Best Selling</h3>
          <div class="best-selling-items">
            <div class="best-selling-item">
              <img src="/public/images/jostik.jpeg" alt="Controller" />
              <p>There are many types of Wireless Controller in our Store</p>
              <span>$200</span>
            </div>
            <div class="best-selling-item">
              <img src="/public/images/speaker.jpg" alt="Speaker" />
              <p>Google Home Smart Voice Activated Speaker</p>
              <span>$300</span>
            </div>
            <div class="best-selling-item">
              <img src="/public/images/mouse.jpg" alt="Mouse" />
              <p>Logitech M350 WHITE Optical Wireless Mouse</p>
              <span>$299</span>
            </div>
            <div class="best-selling-item">
              <img src="/public/images/watch.jpg" alt="Watch" />
              <p>Raptag Screen Guard For Rrr-Apple Watch Series</p>
              <span><del>$2,000</del> $1,900</span>
            </div>
          </div>
        </div>
      </section>

      <!-- CATEGORY SECTION -->

      <!-- Trending CATEGORY Section -->

      <div class="heading-container">
        <h2 class="heading">All Categories</h2>
        <div class="line"></div>
      </div>

      <section class="trending-products" id="category">
        <div class="products-grid">
          <div class="product-item">
            <img
              src="/public/images/watch1.jpg"
              alt="or-watch"
              class="or-img"
            />
            <img
              src="/public/images/watch2.jpg"
              alt="hover-watch"
              class="hover-img"
            />
            <h3>SwapME Braided Nylon Woven Smart Watch</h3>
            <span class="stars">★★★★★</span>
            <p class="price">$300</p>
            <button class="add-to-cart-btn">Select options</button>
          </div>
          <div class="product-item">
            <img
              src="/public/images/fleshka1.jpg"
              alt="or-otg"
              class="or-img"
            />
            <img
              src="/public/images/fleshka2.jpg"
              alt="hover-otg"
              class="hover-img"
            />
            <span class="discount-tag">-10%</span>
            <h3>Phonokart USB Type C OTG Cable</h3>
            <span class="stars">★★★★★</span>
            <p class="price"><del>$500</del> $450</p>
            <button class="add-to-cart-btn">Select options</button>
          </div>
          <div class="product-item">
            <img
              src="/public/images/speaker.jpg"
              alt="or-speaker"
              class="or-img"
            />
            <img
              src="/public/images/smartvoice1.jpg"
              alt="hover-speaker"
              class="hover-img"
            />
            <h3>Google Home Smart Voice Activated Speaker</h3>
            <span class="stars">★★★★★</span>
            <p class="price">$300</p>
            <button class="add-to-cart-btn">Select options</button>
          </div>
          <div class="product-item">
            <img
              src="/public/images/smartvoice1.jpg"
              alt="or-speaker"
              class="or-img"
            />
            <img
              src="/public/images/smartvoice2.jpg"
              alt="hover-speaker"
              class="hover-img"
            />
            <h3>Apple HomePod Assistant and Voice Recognition</h3>
            <span class="stars">★★★★☆</span>
            <p class="price">$397</p>
            <button class="select-options-btn">Select Options</button>
          </div>
          <div class="product-item">
            <img
              src="/public/images/cameraleg.jpg"
              alt="or-camera"
              class="or-img"
            />
            <img
              src="/public/images/camera2.jpg"
              alt="hover-camera"
              class="hover-img"
            />
            <span class="discount-tag">-11%</span>
            <h3>Laview Home Security Camera HD 1080p</h3>
            <span class="stars">★★★★☆</span>
            <p class="price">$79 - $99</p>
            <button class="select-options-btn">Select Options</button>
          </div>
          <div class="product-item">
            <img
              src="/public/images/phone1.jpg"
              alt="or-phone"
              class="or-img"
            />
            <img
              src="/public/images/phone2.jpg"
              alt="hover-phone"
              class="hover-img"
            />
            <h3>Oppo A16 64 GB, 4 GB RAM, Pearl, Mobile Phone</h3>
            <span class="stars">★★★★★</span>
            <p class="price">$159 - $185</p>
            <button class="select-options-btn">Select Options</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html> 